.full-width {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
}
.dsForm {
  min-width: 300px;
  max-width: 800px;
  width: 100%;
}

.main{
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: -webkit-center;
}

.title{
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,.03);
}

.addButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.button-row button{
  margin-right: 8px;
}

.form-input{
  margin-bottom: 10px;
  width: 100%;
}
