<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center" class="example-toolbar">
    <ng-template toolbar></ng-template>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard"(click)="sideNav.toggle()" >Dashboard</a>
        <a mat-list-item routerLink="/login"(click)="logout()" >Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="main" class="main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
