<div *ngIf="attributes" style="overflow-x: auto;">
  <mat-table [dataSource]="attributes" style="max-width: 470px;" >
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Atributo</mat-header-cell>
      <mat-cell *matCellDef="let attribute">
        <a routerLink="/detail/{{sheetId}}/{{blockId}}/{{attribute.id}}">{{attribute.name}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef class="centered-title"> Valor</mat-header-cell>
      <mat-cell *matCellDef="let attribute">
        <a mat-stroked-button routerLink="/detail/{{sheetId}}/{{blockId}}/{{attribute.id}}">{{attribute.value}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bonus">
      <mat-header-cell *matHeaderCellDef class="centered-title" > Bonus</mat-header-cell>
      <mat-cell *matCellDef="let attribute">
        <a mat-stroked-button routerLink="/detail/{{sheetId}}/{{blockId}}/{{attribute.id}}">{{attribute.bonus}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef class="centered-title"> Código</mat-header-cell>
      <mat-cell *matCellDef="let attribute">
        <a routerLink="/detail/{{sheetId}}/{{blockId}}/{{attribute.id}}">{{attribute.code}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="counter">
      <mat-header-cell *matHeaderCellDef class="centered-title"> Contador</mat-header-cell>
      <mat-cell *matCellDef="let attribute">
        <a mat-stroked-button routerLink="/detail/{{sheetId}}/{{blockId}}/{{attribute.id}}">{{attribute.counter}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="notes">
      <mat-header-cell *matHeaderCellDef class="centered-title">Notas</mat-header-cell>
      <mat-cell *matCellDef="let attribute">
        <mat-icon (click)="openDialog(attribute.name, attribute.notes)" style="rgba(0,0,0,.54)">info</mat-icon>
        <!--a mat-stroked-button routerLink="/detail/{{sheetId}}/{{blockId}}/{{attribute.id}}">{{attribute.counter}}</a-->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
  </mat-table>
</div>

