@import "../styles/styles.css";
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.mat-cell a{
  color: rgba(0,0,0,.87);
  text-decoration: none;
}
.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}
.mat-cell:last-of-type, .mat-footer-cell:last-of-type, .mat-header-cell:last-of-type {
  padding-right: 14px;
}
.mat-cell .mat-icon{
  color: rgba(0,0,0,.54);
}
.custom-button{
  position: absolute;
  right: 30px;
  top: 10px;
}

.cdk-column-name{
  flex: 0 0 90px;
  max-width: 100px;
}
.cdk-column-value{
  flex: 0 0 70px;
}
.cdk-column-bonus{
  flex: 0 0 70px;
}
.cdk-column-code{
  flex: 0 0 70px;
  justify-content: center;
}
.cdk-column-counter{
  flex: 0 0 70px;
}
.cdk-column-notes{
  flex: 0 0 35px;
  justify-content: center;
}
.centered-title{
  justify-content: center;
}
