<mat-accordion>
  <mat-expansion-panel [expanded]="true">

    <mat-expansion-panel-header class="title">
      <mat-panel-title>
        {{block.name}}
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon routerLink="/blockDetail/{{sheetId}}/{{block.id}}">edit</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div style="color: gray; margin: 15px;">
    <i>{{block.description}}</i>
    </div>

    <app-attribute [sheetId]="sheetId" [blockId]="block.id" [attributes]="block.attributes" [visibleColumns]="block.visibleColumns"></app-attribute>

    <mat-card-actions align="end" style="margin-bottom: 0px;">
       <span>
        <button mat-mini-fab color="primary" routerLink="/detail/{{sheetId}}/{{block.id}}/new" matTooltip="Nuevo atributo" matTooltipPosition="above">
          <mat-icon>add circle</mat-icon>
        </button>
      </span>
    </mat-card-actions>

  </mat-expansion-panel>
</mat-accordion>
