<mat-card>
  <div *ngIf="attribute">

    <mat-card-title>{{attribute.name | uppercase}}</mat-card-title>
    <mat-card-content style="max-width: 400px;">
      <form #attrForm="ngForm">
      <div>
        <mat-form-field class="form-input">
          <input matInput [(ngModel)]="attribute.name" placeholder="Nombre" name="name" #name="ngModel" required minlength="3" maxlength="30"/>
          <mat-error *ngIf="name.touched && !name.valid && name.errors.required">Nombre es requerido</mat-error>
          <mat-error *ngIf="name.touched && !name.valid &&  name.errors.minlength">Nombre debe ser de al menos 3 caracteres</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-input">
          <input matInput [(ngModel)]="attribute.value" placeholder="Valor" name="value" required #value="ngModel" maxlength="15" />
          <mat-error *ngIf="value.touched && !value.valid && value.errors.required">Valor es requerido</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-input">
          <input matInput [(ngModel)]="attribute.code" placeholder="Código" name="code" #code="ngModel" minlength="2" maxlength="10"/>
          <mat-error *ngIf="code.touched && !code.valid &&  code.errors.minlength">Código debe ser de al menos 2 caracteres</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-input">
          <input matInput  [(ngModel)]="attribute.bonus" placeholder="Bonus" name="bonus" #bonus="ngModel" type="number" max="99999999"/>
          <mat-error *ngIf="bonus.touched && !bonus.valid &&  bonus.errors.number">Bonus debe ser numérico</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-input">
          <input matInput  [(ngModel)]="attribute.counter" placeholder="Contadores" name="counter" #counter="ngModel" type="number" max="99999999"/>
          <mat-error *ngIf="counter.touched && !counter.valid &&  counter.errors.number">Contador debe ser numérico</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-input">
          <input matInput  [(ngModel)]="attribute.notes" placeholder="Notas" name="notes" maxlength="400"/>
        </mat-form-field>
      </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>




