<mat-card>
  <mat-card-title>Login Information</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput [(ngModel)]="username" placeholder="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="password" placeholder="password">
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="onRegisterClick()">Register</button>
    <button mat-button (click)="onLoginClick()">Ok</button>
    <BR>
    <button mat-button (click)="signInWithFacebook()">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      Login with Facebook
    </button>
    <BR>
    <button mat-button (click)="signInWithGoogle()">
      <i class="fa fa-google" aria-hidden="true"></i>
      Login with Google
    </button>
  </mat-card-footer>
</mat-card>
