@import "../styles/styles.css";
.sheetTitle{
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
}

.addNewBlock{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 20px;
  color: darkgrey;
}
