<div *ngIf="sheet">
  <form class="dsForm" #sheetForm="ngForm">
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="sheet.name" placeholder="Nombre" name="name" #name="ngModel" required minlength="3" maxlength="40"/>
      <mat-error *ngIf="name.touched && !name.valid && name.errors.required">Nombre es requerido</mat-error>
      <mat-error *ngIf="name.touched && !name.valid &&  name.errors.minlength">Nombre debe ser de al menos 3 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput [(ngModel)]="sheet.description" placeholder="Descripción" name="desc" maxlength="200"/>
    </mat-form-field>
      <div *ngFor="let block of sheet.blocks" style="margin-bottom: 20px">
        <app-attribute-block [sheetId]="sheet.id" [block]="block" ></app-attribute-block>
      </div>
      <div *ngIf="sheet.blocks==null || sheet.blocks.length===0">
        <h3 class="addNewBlock">Agrega un nuevo bloque!</h3>
        <mat-icon style="color: darkgrey; font-size: 40px;">add_circle_outline</mat-icon>
      </div>
      <span class="addButton">
        <button mat-fab routerLink="/blockDetail/{{sheet.id}}/new" matTooltip="Nuevo bloque" matTooltipPosition="above">
          <mat-icon>add circle</mat-icon>
        </button>
      </span>
  </form>
</div>
