<mat-form-field class="search-form">
  <input matInput placeholder="Buscar hoja" type="text">
</mat-form-field>
<br>

<div *ngIf="user" style="text-align: -webkit-left;">
  <mat-card class="card-picture" *ngFor="let sheet of user.sheets" style="margin-bottom: 20px">
      <mat-card-header routerLink="/sheet/{{sheet.id}}" style="cursor: pointer;">
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>{{sheet.name}}</mat-card-title>
        <mat-card-subtitle>{{sheet.description}}</mat-card-subtitle>
      </mat-card-header>

  </mat-card>

  <span class="addButton">
        <button matTooltip="Nueva hoja" matTooltipPosition="above" mat-fab routerLink="/sheet/new">
          <mat-icon>add circle</mat-icon>
        </button>
      </span>
</div>
