<mat-card>
  <div *ngIf="block">
    <mat-card-title>{{block.name | uppercase}}</mat-card-title>
    <mat-card-content>
      <form #blockForm="ngForm">
      <div style="text-align: left">
        <div>
          <mat-form-field class="form-input">
            <input matInput [(ngModel)]="block.name" placeholder="Nombre" name="name" #name="ngModel" required minlength="3" maxlength="30"/>
            <mat-error *ngIf="name.touched && !name.valid && name.errors.required">Nombre es requerido</mat-error>
            <mat-error *ngIf="name.touched && !name.valid &&  name.errors.minlength">Nombre debe ser de al menos 3 caracteres</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-input">
            <input matInput [(ngModel)]="block.description" placeholder="Descripcion" name="desc" maxlength="300"/>
          </mat-form-field>
        </div>
        <h3>Columnas a mostrar:</h3>
        <mat-selection-list [(ngModel)]="selectedColumns" name="selectedColumns">
          <mat-list-option *ngFor="let column of allColumns" [value]="column.name" [disabled]="column.code==='name'">
            {{column.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>

