@import '~@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-cyan);
$custom-app-accent: mat-palette($mat-orange, A200, A100, A400);

$custom-app-warn:  mat-palette($mat-red);
$custom-app-theme: mat-light-theme($custom-app-primary, $custom-app-accent, $custom-app-warn);

@include angular-material-theme($custom-app-theme);
